#navbar{
    background:linear-gradient(to right, #672280 0%, #A626D3 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

#navbar-logo{
    width: 32px;
    height: 27px;
    margin-right: 8px;
    margin-left: 29px;
}

#navbar-title{
    color: white;
    font-size: 20.75px;
    font-weight: 700;
}